.homeContainer {
  height: 100%;
  /* background-color: #F2DFD7; */
  background-color: whitesmoke;
  /* display: flex;
  flex-direction: column; */
}

.homeContainer * {
  /* color: black;
  font-family: 'Commissioner', sans-serif; */
}

.header {
  position: fixed;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  font-family: 'Commissioner', sans-serif;
}

.mainContainer {
  flex: 6;
}
